header{
    background-color: crimson;
    width: 100%;
}

h1, h1:hover{
    color: darkblue;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
