/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    /* background-color: rgb(90, 90, 90);
    color: white; */
}
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}