body {
    /* max-width: 80%; */
    margin: auto;
    background-color: white;
}
/*-----------------------------------------------------------
SECTION
-----------------------------------------------------------*/
section {
    /* padding-top: 30px; */
    max-width: 90%;
    margin: auto;
}
.ul-style {
    display: inline;
    list-style-type: circle;
    list-style-type: none;
    margin: 0;
}
.sub-title{
    color: black;
    /* 1 pixel black shadow to left, top, right and bottom
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
    font-weight: 700;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
}
.flex-item-description {
    flex: 50%;
    margin: auto;
    text-align: center;
}
.flex-item-image {
    flex: 40%;
}
.flex-item-buttons {
    flex: 100%;
}
.text {
    font-family: Verdana, "Helvetica Neue", sans-serif;
    color: black;
    font-size: 80%;
}
.image{
    display: block;
    margin: auto;
    max-width: 60%;
}
.text-button {
    text-align: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 80%;
}
button {
    color: darkblue;
    background-color: crimson;
    padding: 10px 12px;
    border: 4px solid rgb(255, 255, 255);
    width: 90%;
    font-size: large;
    font-weight: 900;
}
button:hover {
    color: crimson;
    background-color: darkblue;
    cursor: pointer;
}
.comingSoon:hover {
    cursor: not-allowed;
}
/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
    .flex-item-description, .flex-item-buttons{
        flex: 100%;
    }
    .flex-item-image {
        order:-1;
        flex: 100%
    }
    .image {
        width: 45%;
    }
    .text {
        font-size: 60%;
    }
    .flex-item-buttons {
        text-align: center;
    }
    button{
        width: 100%;
    }
}
