<body>
    <section>
            <div class="flex-container">
                <div class="flex-item-description text">
                    <div><span class="sub-title">Bienvenue sur ce site !</span><br>
                        Vous allez tester vos connaissance de tae kwon do:</div>
                        <ul class="ul-style">
                            <li>Généralités</li>
                            <li>Ordres</li>
                            <li>Vocabulaire</li>
                            <li>Parties du corps</li>
                            <!-- <li>Positions</li>
                            <li>Blocages</li>
                            <li>Techniques de poings</li>
                            <li>Techniques de pieds</li>
                            <li>Symbole et trigramme Teageuk</li> -->
                        </ul>
                </div>
            <div class="flex-item-image">
                <figure>
                    <img class="image" src= "./assets/images/logotkd.jpeg" alt= "logo Tkd Wallonie club" >
                    <!-- <figcaption></figcaption> -->
                </figure>
            </div>
            <div class="flex-item-buttons text text-button">
                <p class="sub-title">Cliquez un lien pour commencer le test:</p>
                <button [routerLink]="'/testredbelt'">Lien pour ceinture rouge</button><br>
                <button class="comingSoon" (click)="ComingSoon()">Lien pour ceinture bleue-rouge</button><br>
                <button class="comingSoon" (click)="ComingSoon()">Lien pour ceinture verte</button><br>
                <button class="comingSoon" (click)="ComingSoon()">Lien pour ceinture orange</button><br>
                <button class="comingSoon" (click)="ComingSoon()">Lien pour ceinture jaune</button>
            </div>
        </div>
    </section>
</body>
